body{
    margin:0;
    font-family: Arial;
    background:#1e1e2f;
    color:white;
}

/* SIDEBAR */
.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100vh;
    background:#111827;
    padding:20px;
    transition:0.3s;
}

.sidebar h3{
    color:#00d4ff;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:15px 0;
}

.sidebar a:hover{
    color:#00d4ff;
}

/* CONTENIDO */
.contenido{
    margin-left:240px;
    padding:20px;
}

/* TARJETAS DASHBOARD */
.indicador{
    background:#2d3748;
    padding:20px;
    border-radius:10px;
    text-align:center;
    margin-bottom:10px;
}

/* TABLA */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    overflow-x:auto;
}

th, td{
    border:1px solid #444;
    padding:10px;
    text-align:center;
}

th{
    background:#111827;
}

/* LOGIN */
.login-box{
    width:350px;
    margin:120px auto;
    background:white;
    color:black;
    padding:30px;
    border-radius:10px;
}

/* INPUTS */
input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border-radius:5px;
    border:none;
}

/* BOTONES */
button{
    padding:10px;
    border:none;
    cursor:pointer;
}

/* ========================= */
/* RESPONSIVE (CELULAR) */
/* ========================= */

@media (max-width: 768px){

    .sidebar{
        position:relative;
        width:100%;
        height:auto;
        text-align:center;
    }

    .sidebar a{
        display:inline-block;
        margin:10px;
    }

    .contenido{
        margin-left:0;
        padding:10px;
    }

    .login-box{
        width:90%;
        margin:80px auto;
    }

    table{
        font-size:12px;
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }
}